{% extends "base.twig" %}

{% block content %}

<ul>
  <li>{{product.get_title()}}</li>
  <li>
    {% if product.is_on_sale() %}
    <span>
        {{product.get_price()}}
    </span>
    <span>
        {{product.get_sale_price()}}
    </span>
    {% else %}
    <span>
        £{{product.get_price()}}
    </span>
    {% endif %}
  </li>
  <!-- <li>{{product.get_description()}}</li> -->
  <li>
      <span>Editions</span>
      <span>{{post.editions}}</span>
  </li>
  <li>
      <span>Paper weight</span>
      <span>{{post.paper_weight}}</span>
  </li>
  <li>
      <span>Stock size</span>
      <span>{{post.stock_size_h}} x {{post.stock_size_w}}</span>
  </li>
  <li>
    {% if product.is_in_stock() %}
    in stock
    {% else %}
    not in stock
    {% endif %}
</ul>

{% endblock %}
